.slider {
    position: relative;
}

.slick-dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    left: 5vw;
    font-size: 0;

     button {
         height: 6px;
         width: 6px;
         background-color: #ddd2c5;
         border: none;
         outline: none;
         cursor: pointer;
         margin: 0 3px 0;

         &:hover, &:focus {
             outline: none;
         }
     }
}

.slick-active {
    button {
        background-color: #8b8784;
    }
}

.portfolio {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        width: 90vw;
        height: 1px;
        background-color: #e4e9eb;
        position: absolute;
        bottom: 12px;
        left: 5vw;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &:nth-child(1)::before {
            content: "";
            width: 1px;
            height: 90px;
            background-color: #e4e9eb;
            margin-right: 5px;
            margin-bottom: 5px;

            @media screen and (max-width: 920px) {
                height: 70px;
            }

            @media screen and (max-width: 720px) {
                height: 60px;
            }

            @media screen and (max-width: 620px) {
                height: 50px;
            }

            @media screen and (max-width: 530px) {
                height: 40px;
            }

            @media screen and (max-width: 380px) {
                height: 30px;
            }
        }

        &:nth-child(1)::after {
            content: "";
            width: 1px;
            height: 90px;
            background-color: #e4e9eb;
            margin-left: 5px;
            margin-bottom: 5px;

            @media screen and (max-width: 920px) {
                height: 70px;
            }

            @media screen and (max-width: 720px) {
                height: 60px;
            }

            @media screen and (max-width: 620px) {
                height: 50px;
            }

            @media screen and (max-width: 530px) {
                height: 40px;
            }

            @media screen and (max-width: 380px) {
                height: 30px;
            }
        }

        &:nth-child(2) {
            margin-top: -30px;
        }

        &:nth-child(3) {
            margin-top: -30px;

            &::before {
                content: "";
                width: 1px;
                height: 90px;
                background-color: #e4e9eb;
                margin-right: 5px;
                margin-bottom: 5px;

                @media screen and (max-width: 920px) {
                    height: 70px;
                }

                @media screen and (max-width: 720px) {
                    height: 60px;
                }

                @media screen and (max-width: 620px) {
                    height: 50px;
                }

                @media screen and (max-width: 530px) {
                    height: 40px;
                }

                @media screen and (max-width: 380px) {
                    height: 30px;
                }
            }

            &::after {
                content: "";
                width: 1px;
                height: 90px;
                background-color: #e4e9eb;
                margin-left: 5px;
                margin-bottom: 5px;

                @media screen and (max-width: 920px) {
                    height: 70px;
                }

                @media screen and (max-width: 720px) {
                    height: 60px;
                }

                @media screen and (max-width: 620px) {
                    height: 50px;
                }

                @media screen and (max-width: 530px) {
                    height: 40px;
                }

                @media screen and (max-width: 380px) {
                    height: 30px;
                }
            }
        }
    }

    &__img {
        width: 180px;
        height: 190px;
        clip-path: polygon(50% 0%, 100% 22%, 100% 78%, 50% 100%, 0 79%, 0 21%);
        margin: 5px 10px;

        @media screen and (max-width: 1200px) {
            width: 160px;
            height: 170px;
        }

        @media screen and (max-width: 920px) {
            width: 130px;
            height: 140px;
            margin: 2px 5px;
        }

        @media screen and (max-width: 720px) {
            width: 110px;
            height: 120px;
            margin: 5px;
        }

        @media screen and (max-width: 620px) {
            width: 90px;
            height: 100px;
            margin: 5px;
        }

        @media screen and (max-width: 520px) {
            width: 70px;
            height: 80px;
            margin: 5px 1px;
        }

        @media screen and (max-width: 380px) {
            width: 50px;
            height: 60px;
            margin: 8px 2px;
        }
    }

}
